EXPO_PUBLIC_SUPABASE_URL="https://qynpcucdaeupwtdxnhih.supabase.co"
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_4svkVkEo8h_EX6popNxD0Q_TZzgDl9i"
EXPO_PUBLIC_API_URL="https://executar-ai.vercel.app"
EXPO_PUBLIC_EAS_PROJECT_ID=""
